@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes falling {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(55px);
  }

  100% {
    transform: translateY(60px);
  }
}

:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
  --dark: #212529;
  --gray: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  padding: 0 150px;
  background: #eee;
}

header,
main,
footer {
  background: var(--honeydew);
}

.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: var(--gray);
  height: 7rem;
  padding: 0 1rem;
}

.navbar img {
  width: 70px;
}

.listContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.listLinks {
  display: flex;
  list-style: none;
  max-width: 100%;
  width: 400px;
  height: 100%;
  gap: 1rem;
  position: relative;
}

.listLinks li {
  position: absolute;
}

.listLinks a {
  text-decoration: none;
  color: var(--dark);
}

.listLinks a:hover, .listLinks a:active {
  color: var(--gray);
}

.listLinks li {
  top: -15px;
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.listLinks li:first-child {
  left: 0;
}

.listLinks li:nth-child(2) {
  left: 70px;
  animation-delay: 0.33s;
}

.listLinks li:nth-child(3) {
  left: 185px;
  animation-delay: 0.66s;
}

.listLinks li:last-child {
  left: 295px;
  animation-delay: 1s;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  row-gap: 100px;
}

.hero,
.companyInfo {
  margin: 0 20px;
}

.hero {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.hero img {
  height: 280px;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 50px;
}

.heroInfo h1 {
  width: 50%;
  font-size: 2.5rem;
  color: var(--prussian-blue);
}

.heroInfo p {
  width: 70%;
  color: var(--celadon-blue);
}

.buttonContainer button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--prussian-blue);
  font-weight: 600;
  cursor: pointer;
}

.buttonContainer button:first-child {
  background-color: var(--prussian-blue);
  color: var(--honeydew);
}

.buttonContainer button:first-child:hover {
  background-color: var(--celadon-blue);
  border-color: var(--celadon-blue);
}

.buttonContainer button:nth-child(2) {
  background-color: var(--honeydew);
  color: var(--prussian-blue);
}

.buttonContainer button:nth-child(2):hover {
  background-color: var(--celadon-blue);
  border-color: var(--celadon-blue);
  color: var(--honeydew);
}

.companyInfo {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 50px 80px;
  
  box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
}

.companyInfo p {
  text-align: center;
  color: var(--celadon-blue);
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cards p {
  color: var(--celadon-blue);
}

.cardsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--gray);
  border-radius: 10px;
  max-width: 250px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(146, 151, 156, 0.75);
}

.card p {
  font-size: 0.8rem;
  user-select: none;
}

.card img {
  width: 100px;
  filter: invert(89%) sepia(14%) saturate(175%) hue-rotate(169deg)
    brightness(82%) contrast(82%);
}

.card:hover {
  animation: floating 2s ease-in-out infinite;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 100px 20px;
}

footer img {
  max-width: 600px;
  width: 60%;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  color: var(--celadon-blue);
  padding-left: 20px;
}

.contact h3 {
  font-size: 2rem;
}

.founder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.founder img {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.founder a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: var(--celadon-blue);
}

.companyMedia {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.companyMedia img {
  width: 20px;
}

.founder img,
.companyMedia img {
  filter: invert(41%) sepia(84%) saturate(312%) hue-rotate(160deg)
    brightness(89%) contrast(81%);
}
