@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

:root {
    --imperial-red: #e63946ff;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
    --dark: #212529;
    --gray: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
}

header {
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: var(--gray);
  height: 7rem;
  padding: 0 1rem;
}

.navbar img {
  width: 70px;
}

.listLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
}

h1 {
  /* font-family: 'Roboto' */
}
